
testing/petrol_consumption.csv
testing/linear_regression.ipynb
testing/student_scores.csv
previous_files/main2.py
previous_files/notebook.ipynb
previous_files/neural_network.ipynb
.vscode/settings.json
previous_files/
